@import url("../fonts/google-fonts.min.css");

body {
    position: relative;
    margin-top: calc(80px + 54px);
    font-family: Manrope, sans-serif;
    font-size: 14px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

pre {
    white-space: pre-wrap; /* This ensures long lines wrap properly */
    word-wrap: break-word; /* This forces long words (like URLs) to break */
}

code {
    white-space: pre-wrap; /* This ensures long lines wrap properly */
}

/* Highlighted code styles */
.highlight {
    position: relative;
    z-index: 0;
    display: flex;
    padding: 0;
    overflow-x: auto;
    font-family: "Fira Mono", monospace;
    font-size: 10px; /* Set default font size for code */
    line-height: 20px;
}

/* Token-specific styles (for finer control) */
.highlight .c { font-size: 10px; } /* Comment */
.highlight .err { font-size: 10px; } /* Error */
.highlight .l { font-size: 10px; } /* Literal */
.highlight .n { font-size: 10px; } /* Name */
.highlight .k { font-size: 10px; } /* Keyword */

/* Additional styles */
.element {
    background-color: #f0f0f0;
}

@media (max-width: 768px) {
    .responsive-element {
        padding: 10px;
    }
}

.dark-theme [class*="highlight-"] .highlight {
    color: #fff;
    background-color: #333;
}
