@import url("../fonts/google-fonts.min.css");

body {
    position: relative;
    margin-top: calc(80px + 54px);
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

pre {
    white-space: pre-wrap; /* This ensures long lines wrap properly */
    word-wrap: break-word; /* This forces long words (like URLs) to break */
}

code {
    white-space: pre-wrap; /* This ensures long lines wrap properly */
}

/* Existing styles (for reference) */
.highlight {
    position: relative;
    z-index: 0;
    display: flex;
    padding: 0;
    overflow-x: auto;
    font-family: "Fira Mono", monospace;
    line-height: 24px;
}

/* Additional styles */
.element {
    background-color: #f0f0f0;
}

@media (max-width: 768px) {
    .responsive-element {
        padding: 10px;
    }
}

.dark-theme [class*="highlight-"] .highlight {
    color: #fff;
    background-color: #333;
}
